
@{
    ViewBag.Title = "ErrorLog";
}

<head>
    <link href="@Url.Content("~/Content/Style1.css")" rel="stylesheet" type="text/css" />
    <style>
        table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
        </style>
</head>
<body>
    <table style="width:100%">
        <caption>Error Message Log</caption>
        <tr bgcolor="#A9A9A9">
            <th>Application</th>
            <th>ErrorID</th>
            <th>ErrorMessage</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>AP1</td>
            <td>E101</td>
            <td>Unable to connect</td>
            <td>2/15/2017/2:45</td>
        </tr>
        <tr>
            <td>AP1</td>
            <td>E101</td>
            <td>Unable to connect</td>
            <td>2/15/2017/2:45</td>
        </tr>
        <tr>
            <td>AP1</td>
            <td>E101</td>
            <td>Unable to connect</td>
            <td>2/15/2017/2:45</td>
        <tr>
            <td>AP1</td>
            <td>E101</td>
            <td>Unable to connect</td>
            <td>2/15/2017/2:45</td>
        </tr>
        <tr>
            <td>AP1</td>
            <td>E101</td>
            <td>Unable to connect</td>
            <td>2/15/2017/2:45</td>
        </tr>
        </tr>
    </table>
</body>

